/* Quiz Page Styles */
.quiz-page {
  width: 90%;
  max-width: 800px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-actions {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
