/* Progress Bar Styles */
.progress-wrap {
  width: 100%;
  height: 10px;
  background-color: var(--border-color);
  border-radius: var(--border-radius);
  margin-bottom: 2rem;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  transition: width 0.4s ease-in-out;
}
